.nameItemTime {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: var(--text-2, #000);
    margin-bottom: 4px;
}
.valueTime {
    color: var(--text-2, #000);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 93.75% */
    letter-spacing: 1.28px;
    text-align: center;
}
.bodyCountDown {
    display: flex;
    align-items: flex-end;
    margin-left: 100px;
    height: 50px;
    align-self: flex-end;
}
.section_box_two_dot {
    height: 27px;
    align-items: center;
    display: flex;
}
.section_two_dot {
    width: 4px;
    height: 16px;
    margin: 0 17px;
}